*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: dodgerblue;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(dodgerblue, black);
}

.logo {
    color: white;
    margin-left: 50px;
}
.navbar{
    display: flex;
    list-style: none;
    margin-right: 50px;
    
    
}

.navbar li{
    padding: 10px 10px;
    transition: 2s;
    
}
.navbar li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.navbar li:hover{
    background-color: rgb(41, 119, 196);
    border-radius:10px;
}
.dropbtn{
    
    list-style: none;
    background-image: linear-gradient(rgb(112, 127, 141), black);
    margin-top: 10px;
    width: 150px;
    position: absolute;
    opacity: 0;
    margin-left: -10px;
    transition: 0.2s;
    transform: scaleY(0);
    transform-origin: top;
    
}
.dropbtn li a{
    text-decoration: none;
    color:white;
}
.header ul li:hover ul{
    
    transform: scaleY(1);
    opacity: 1;
}
.logoname{
    color: yellowgreen;
}
.name{
    color: yellow;
}

/* <!-- hero are start --> */
.main-header{
    text-align: center;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.158),rgba(0, 0, 0, 0.411)), url(image/web\ header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-container{
    padding-top: 100px;
}

h1{
    width: 500px;
    background-color: #024486ab;
    padding: 15px 25px;
    color: white;
    margin: auto;
    font-size: 50px;
    border-radius: 10px 15px;
    
}
.header-container > button{
    font-size: 22px;
    padding: 15px 25px;
    margin-top: 20px;
    background-color: #024486ab;
    color: white;
    border-radius: 10px;
    border: 4px green solid;
    cursor: pointer;
    transition: 1s;
}

.header-container button:hover{
    background-color: rgba(0, 255, 255, 0);
}
.header-container h4{
    font-size: 25px;
    color: rgb(59, 55, 55);
    margin-bottom: 5px;
}
.header-container h5{
    font-size: 25px;
    color: rgb(59, 55, 55);
    margin-top: 5px;
    margin-bottom: 5px;
}
.social a{
   

}

.social a i{
    font-size: 20px;
    background-color: #024486ab;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;

}
.social a i:hover{

background-color: rgba(0, 0, 0, 0);
border: 2px solid green;

}
.services{
    display: flex;
    padding: 100px;
    justify-content: center;
    
}
.first{
    
    margin-right: 5px;
    padding: 10px 10px;
    text-align: center;
    width: 300px;
    
}
.second{
    
    margin-right: 5px;
    padding: 20px 20px 20px;
    text-align: center;
    
    width: 300px;
    
}
.third{
    
    padding: 10px 10px;
    text-align: center;
    width: 300px;
    
    
    
}
.first h2{
    
    margin-bottom: 10px;
}
.second h2{
    
    margin-bottom: 10px;
    
}
.third h2{
    margin-bottom: 10px;
    
}
.first i{
    
   font-size: 50px;
   padding: 20px;
}
.second i{
    
    font-size: 50px;
    padding: 20px; 
}
.third i{
    font-size: 50px;
    padding: 20px;
    
    
}
.first:hover{
    
    box-shadow: 3px 3px 10px gray;
}
.second:hover{
    box-shadow: 3px 3px 10px gray;
}
.third:hover{
    box-shadow: 3px 3px 10px gray;
}
.smart{
    text-align: center;
    position: relative;
    font-size: 20px;
    
}
.smart h2::after{
    content: '';
    top: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: red;
    position: absolute;
    margin-top: 30px;
    margin-left: 642px;
}
.smart-area{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}
.allpara{
    margin-top: 80px;
    margin-left: 100px;
}
.allpara h4{
    color: red;
    padding-bottom: 20px;
    font-size: 30px;
}
.allpara h2{
    padding-bottom: 20px;
}
.allpara a{
    background-color: red;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border: 1px solid yellow;
    border-radius: 50px;
}
.allpara p{
    padding-bottom: 20px;
}
.courses-main h2{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.img{
    max-width: 300px;
    
}
.list-parent{
    width: 1000px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.list-parent h3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.list-parent p{
    padding: 0px 10px 20px 10px;
}
.list-parent button{
    background-color: red;
    color:white;
    padding: 5px 5px;
    border-radius: 5px;
    margin-top: 20px;
}
.list-parent span{
    border-top: dotted;
    border-bottom: dotted;
    padding: 5px;
}
.box{
    width: 300px;
    box-shadow: 1px 1px 10px black;
}
.box a{
    color: white;
}
.list-parent button:hover{
    background-color:rgb(185, 33, 33);
}
.testomonial-title{
    text-align: center;
   padding: 50px 0px;
}
.testomonial-title > h2{
    font-size: 35px;

}
.testomonial-title > h4 {
    color: gray;
    letter-spacing: 5px;
}
.card-parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}
.card{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px ;
}
.card-img{
    width: 200px;
    border-radius: 50%;
    margin-right: 20px;
}
.card-img> img{
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid red;
}
.testo-container{
    width: 1000px;
    margin: auto;
    padding-bottom: 50px;
    
}
#testo-main{
    background-color: bisque;
    margin-top: 20px;
    padding-top: 20px;
}
.name-title{
    font-size: 25px;
    margin-bottom: 10px;
    display: inline-block;
}
#parralax-parent{
    background-image: url("/image/parallax.jpg");
    margin-bottom: 200px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.paralax-body{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin: auto;
    padding: 50px 0px;
    text-align: center;
    color: white;
}
.paralax-body >div > i{
    font-size: 30px;
    padding: 10px 0px;
}