*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: dodgerblue;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    margin-left: 50px;
}
.navbar{
    display: flex;
    list-style: none;
    margin-right: 50px;
    
    
}

.navbar li{
    padding: 10px 10px;
    transition: 2s;
    
}

.navbar li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.navbar li:hover{
    background-color: aqua;
    border-radius:10px;
}
.dropbtn{
    
    list-style: none;
    background-color: dodgerblue;
    margin-top: 10px;
    width: 150px;
    position: absolute;
    display: none;
    margin-left: -10px;
    
}
.dropbtn li a{
    text-decoration: none;
    color:white;
}
.header ul li:hover ul{
    display: block;
}