*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: dodgerblue;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(dodgerblue, black);
}

.logo {
    color: white;
    margin-left: 50px;
}
.navbar{
    display: flex;
    list-style: none;
    margin-right: 50px;
    
    
}

.navbar li{
    padding: 10px 10px;
    transition: 2s;
    
}

.navbar li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.navbar li:hover{
    background-color: aqua;
    border-radius:10px;
}
.dropbtn{
    
    list-style: none;
    background-color: dodgerblue;
    margin-top: 10px;
    width: 150px;
    position: absolute;
    opacity: 0;
    margin-left: -10px;
    transition: 0.5s;
    transform: scaleY(0);
    transform-origin: top;
    
}
.dropbtn li a{
    text-decoration: none;
    color:white;
}
.header ul li:hover ul{
    
    transform: scaleY(1);
    opacity: 1;
}
.logoname{
    color: yellowgreen;
}
.name{
    color: yellow;
}

/* <!-- hero are start --> */
.main-header{
    text-align: center;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.158),rgba(0, 0, 0, 0.411)), url(image/web\ header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-container{
    padding-top: 100px;
}

h1{
    width: 500px;
    background-color: #024486ab;
    padding: 15px 25px;
    color: white;
    margin: auto;
    font-size: 50px;
    border-radius: 10px 15px;
    
}
.header-container > button{
    font-size: 22px;
    padding: 15px 25px;
    margin-top: 20px;
    background-color: #024486ab;
    color: white;
    border-radius: 10px;
    border: 4px green solid;
    cursor: pointer;
    transition: 1s;
}

.header-container button:hover{
    background-color: rgba(0, 255, 255, 0);
}
.header-container h4{
    font-size: 25px;
    color: rgb(59, 55, 55);
    margin-bottom: 5px;
}
.header-container h5{
    font-size: 25px;
    color: rgb(59, 55, 55);
    margin-top: 5px;
    margin-bottom: 5px;
}
.social a{
   

}

.social a i{
    font-size: 20px;
    background-color: #024486ab;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;

}
.social a i:hover{

background-color: rgba(0, 0, 0, 0);
border: 2px solid green;

}
.services{
    display: flex;
    padding: 100px;
    justify-content: center;
    
}
.first{
    
    margin-right: 5px;
    padding: 10px 10px;
    text-align: center;
    width: 300px;
    
}
.second{
    
    margin-right: 5px;
    padding: 20px 20px 20px;
    text-align: center;
    
    width: 300px;
    
}
.third{
    
    padding: 10px 10px;
    text-align: center;
    width: 300px;
    
    
    
}
.first h2{
    
    margin-bottom: 10px;
}
.second h2{
    
    margin-bottom: 10px;
    
}
.third h2{
    margin-bottom: 10px;
    
}
.first i{
    
   font-size: 50px;
   padding: 20px;
}
.second i{
    
    font-size: 50px;
    padding: 20px; 
}
.third i{
    font-size: 50px;
    padding: 20px;
    
    
}
.first:hover{
    
    box-shadow: 3px 3px 10px gray;
}
.second:hover{
    box-shadow: 3px 3px 10px gray;
}
.third:hover{
    box-shadow: 3px 3px 10px gray;
}
.smart{
    text-align: center;
    position: relative;
    
}
.smart h2::after{
    content: '';
    top: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: red;
    position: absolute;
    margin-top: 26px;
    margin-left: 642px;
}
.smart-area{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}
.allpara{
    margin-top: 80px;
    margin-left: 100px;
}
.allpara h4{
    color: red;
    padding-bottom: 20px;
    font-size: 30px;
}
.allpara h2{
    padding-bottom: 20px;
}
.allpara a{
    background-color: red;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border: 1px solid yellow;
    border-radius: 50px;
}
.allpara p{
    padding-bottom: 20px;
}